<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- By default is used Chrome WebDriver, anyway you can set another 
         driver in the 'value' - 'Firefox', 'Chrome', 'InternetExplorer' -->
    <add key="WebDriver" value="Chrome"/>

    <add key="AppURI" value="https://www.ebay.com/"/>
    <add key="TakeScreenshotsOnSuccess" value="True" />
    <add key="TakeScreenshotsOnFailure" value="True" />
    <add key="ScreenshotsDir" value="Screenshots" />

  </appSettings>
</configuration>